<nav class="navbar navbar-expand-lg navbar-light position-relative" style="background-color: #22313F;">
    <div class="container-fluid">
      <a class="navbar-brand text-danger" routerLink="inicio">Angular&Bootstrap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse messi" id="navbarNavAltMarkup">
        <div class="navbar-nav align-items-end">
          <a class="nav-link active text-white aria-current" routerLink="inicio" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Inicio</a>
          <a class="nav-link text-white" routerLink="galeria" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Galeria</a>
          <a class="nav-link text-white" routerLink="contacto" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contatcto</a>
        </div>
      </div>
    </div>
</nav>
