.galeria {
    height: 850px;
    background-image: linear-gradient(176deg, #22313F 85%, #F4F4F4 calc(85% + 2px));
    /* padding: 10% 5% 5% 5%; */
    position: fixed;
    z-index: 99;
}


@media (max-width: 767px) {
    .galeria{
        position: static;
        height: calc(90% + 2px);
    }
}