<!-- Footer -->
<footer class="font-small bg-white fixed-bottom page-footer footer">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a class="text-danger" href="https://www.instagram.com/fausto.mira/" target="_blanl"> Faustino Mira</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
