.contenedor {
    background-image: linear-gradient(176deg, #22313F 90%, #F4F4F4 calc(90% + 2px));
    /* display: grid;
    align-items: center;
    justify-content: center;
    width: 100%; */
    height: 850px;
    display: grid;
    justify-content: center;
    align-items: center;

}

.contacto {
    width: 500px;
    color: white;
}


@media (max-width: 767px) {
    .contenedor {
        height: calc(90% + 2px);
    }
    .contacto {
        width: 90%;
    }
}

@media (min-width: 1000px) {
    .contenedor {
        background-image: linear-gradient(176deg, #22313F 85%, #F4F4F4 calc(85% + 2px));
    }
}

@media (max-height: 700px) {
    .contenedor {
        height: calc(80% + 2px);
    }
}