<form class="contenedor container-fluid">

    <div class="contacto container" data-aos="fade-up" data-aos-duration="7000">
    <h4>Contactame</h4>
    <p></p>
    <!-- Name input -->
    <div class="form-outline mb-3">
      <input type="text" id="form4Example1" class="form-control" />
      <label class="form-label" for="form4Example1">Nombre</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-3">
      <input type="email" id="form4Example2" class="form-control" />
      <label class="form-label" for="form4Example2">Dirección Email</label>
    </div>
  
    <!-- Message input -->
    <div class="form-outline mb-3">
      <textarea class="form-control" id="form4Example3" rows="4"></textarea>
      <label class="form-label" for="form4Example3">Mensajes</label>
    </div>
  
    <!-- Checkbox -->
    <div class="form-check mb-4">
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="form4Example4"
        checked
      />
      <label class="form-check-label" for="form4Example4">
        Enviarme una copia de este mensaje
      </label>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-3">Enviar!</button>
    </div>

</form>