.hero {
    height: 800px;
    width: 100%;
    background-image: linear-gradient(176deg, #22313F 50%, #F4F4F4 calc(50% + 2px))
}

.text {
    height: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .text{
        width: 100%;
        height: 80%;
        padding-left: 10%;
    }
    .hero{
        height: calc(90% + 2px);
        background-image: linear-gradient(172deg, #22313F 50%, #F4F4F4 calc(50% + 2px))
    }
    h1 {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    .text {
        height: 75%;
    }
}
