<section class="hero container-fluid position-fixed">
    <div class="row text align-items-center">
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <h1 class="text-danger text-center" data-aos="fade-up" data-aos-duration="7000">Bienvenidos a una página creada con Angular y Bootstrap</h1>
        </div>
    </div>  
</section>
